# **/*.pyc # Ignore Python compiled files
# **/*.pyo # Ignore Python optimized files
# **/*.pyd # Ignore Python dynamic files
# **/*.pyw # Ignore Python Windows files
# **/*.pyz # Ignore Python zipped files
# **/*.pywz # Ignore Python Windows zipped files
# **/*.pyzw # Ignore Python zipped Windows files
**/*xml
**/*json
**/*yaml
**/*csv
**/__pycache__